body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#main {
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 h1 {
   color: black;
 }

 [id^=square] {
   display: grid;
   justify-content: center;
   align-items: center;
   height: 80px;
   width: 80px;
   background-color: yellow;
   
   font-size: 40px;
   border-radius: 50%;
   margin: 2.5px 5px;
   border: 3px solid black;
   color: black;
    line-height: 0px;
  }
#square5 {
  color: yellow;
  background-color: black;
  border: 3px dashed yellow;
}

#square5:active {
  background-color: white;
   border: 3px solid black;
   color: black;
}
 [id^=square]:active {
   background-color: black;
   border: 3px solid black;
   color: yellow;
 }
 #gameBoard {
   display: flex;
   flex-wrap: wrap;
   width: 300px;
 }
 #statCont {
   display: flex;
   width: 300px;
    margin-top: 5px;
    justify-content: space-around;
 }
 #scoreCont h1 {
   margin: 0px;
   background-color: white;
   color: black;
   border-radius: 10px;
   border: 3px solid black;
 }
 #scoreCont h4 {
  position: relative;
  right: 40px;
  margin: 0px;
  color: white;
}
#totalCont h1 {
  margin: 0px;
   background-color: white;
   color: black;
   border-radius: 10px;
   border: 3px solid black;
   font-size: 25px;
   height: 38px;
   
 }

#totalCont h4 {
  position: relative;
  right: 0px;
  margin: 0px;
  color: white;
}

#totalCont {
  margin: 0px;
 
  padding: 0px;
  background-color: rgba(00,00,00,1);
  border-radius: 10px;
  width: 142.5px;
  height: 60px;
}
#scoreCont {

  margin: 0px;
  
  padding: 0px;
  background-color: rgba(00,00,00,1);
  border-radius: 10px;
  width: 142.5px;
  height: 60px;
}
 #entry {
   display: flex;
   margin: 15px auto;
   width: 95%;
   height: 50px;
   background-color: white;
   border: 3px solid black;
   border-radius: 10px;
   justify-content: center;
   align-items: center ;
   font-size: 25px;
   font-weight: bold;

 }

 #erase {
   width: 270px;
   height: 50px;
   font-size: 25px;
 }

 #delete {
   width: 32%;
   height: 75px;
   font-size: 25px;
   border-radius: 10px;
   margin: 5px;
   border: 3px solid black;
 }
.lineCont {
  display: flex;
  width: 100%;
  justify-content: center;
}
 #delete:active {
   background-color: black;
   border: 3px solid yellow;
   color: yellow;
 }

 #enter:active {
  background-color: black;
  border: 3px solid yellow;
  color: yellow;
}
 #enter {
   width: 68%;
   height: 75px;
   font-size: 25px;
   border-radius: 10px;
   margin: 5px;
   border: 3px solid black;
   

 }
#enterErase {
  margin-top: 10px;
  display: flex;
  width: 300px;
  justify-content: space-between;
  
}

@keyframes appear {
  0% {
    top: 0%;
    opacity: 1;
  } 
  20% {
    top: 15%
  }
  80% {
    top: 15%
  }
  100% {
    top: -20%;
    opacity: 1;
  }
  
}
#list {
  margin-top: 5px;
  display: grid;
  align-content: flex-start;
  height: 100px;
  border: 3px solid black;
  border-radius: 10px;
  width: 300px;
  overflow: scroll;
  position: absolute;
  /*top: 30px;
  height: 80vh;
 
  background-color: white;*/
}
#list h4 {
  
  margin: 0;
}
#root {
  width: 100vw;
  
}
#main {
  display: flex;
  width: 100vw;
  justify-content: center;
}
#alertCont {
 
  position:absolute;
  top: 75px;
  display: flex;
  opacity: 0;
  justify-content:center;
  width: 300px;
  color: white;

  
}
 #alert {
  
  border: 2px solid black;
    padding: 5px;
   text-align: center;
   
   border-radius: 10px;
   color: black;
   font-weight: bolder;
   font-size: 30px;
   background-color: white;
 }